<div class="modal fade" id="edit-post" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit diary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <form action="/<%= user %>/diaries/<%= diary._id %>?_method=PUT" method="POST">
                <div class="modal-body">
                    <div>Diary name:</div>
                    <input type="text" name="diary[name]" value="<%= diary.name %>" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn modal-btn-close" data-dismiss="modal">Close</button>
                    <button type="update" class="btn modal-btn-action">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
    