<% include ./partials/header %>

<div class="container">
  <div class="error-wrapper">
    <% if (typeof(msg) == 'undefined') { %>
      <h1>Oh no! Something unexpected happened.</h1>
      <p>The link you followed may be broken, or the page may have been removed.</p>
    <% } else { %>
      <h1><%= msg %></h1>
    <% } %>
  </div>
</div>

<% include ./partials/footer %>