<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

        <link href="https://fonts.googleapis.com/css?family=Questrial|Roboto" rel="stylesheet">
    </head>
    <body>
        <div class="restaurant-name">
            Miku
        </div>
        <div class="dish">
            <div class="dish-img-c">
                <img class="dish-img" src="https://media-cdn.tripadvisor.com/media/photo-s/0e/53/a5/55/aburi-oshi-sushi.jpg">
            </div>
            <div class="dish-info-c">
                <h1 class="dish-name">Aburi Sushi</h1>
                <p class="dish-comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac lacus at lorem malesuada fringilla. Morbi tristique dolor a viverra pretium. Curabitur ex sem, vestibulum nec dolor in, varius scelerisque eros. Maecenas pharetra ante justo, in blandit velit volutpat at. In hac habitasse platea dictumst. Morbi ut commodo urna. Nunc mollis libero in magna posuere, quis venenatis erat semper. </p>
                <div class="dish-like-c">
                    <p class="dish-like">Liked</p>
                </div>
            </div>
        </div>
    </body>
</html>

