<% include ./partials/header %>

<div class="container">
  <div class="login-container">
    <h3>Login</h3>
    <form id="login-form" action="/login" method="POST">
      <input
        class="form-control"
        id="login-username"
        type="text"
        name="username"
        placeholder="username"
      >
      <input
        class="form-control"
        id="login-password"
        type="password"
        name="password"
        placeholder="password"
      >
      <p class="missing-input-msg"></p>
      <input class="btn modal-btn-action" onclick="validate()" value="Login" readonly>
    </form>
  </div>
</div>

<script type="text/javascript" src="js/login.js"></script>

<% include ./partials/footer %>