<!-- TODO: Replace <br> with styling  -->

<div class="modal fade" id="new-post" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Post</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <form action="/<%= user %>/diaries/<%= diary._id %>/posts" method="post">
        <div class="modal-body">
          <div>Image URL:</div>
          <input type="url" name="image" required>
          <br>
          <div>Comment:</div>
          <textarea type="text" name="comment" maxlength="240" rows="10" required></textarea>
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn modal-btn-close" data-dismiss="modal">Close</button>
          <button type="submit" class="btn modal-btn-action" readonly>Add</button>
        </div>
      </form>
    </div>
  </div>
</div>