<% include ./partials/header %>

<div class="container">
  <div class="row flex-nowrap">
    <div class="col post-show-center-col">
      <div class="row header-row">
        <div class="col header-wrapper">
          <h1 class="header"><%= diary.name %></h1>
        </div>
      </div>

      <div class="post-show-body">
        <div class="row-auto">
          <img class="post-show-img" src="<%= post.image %>">
        </div>
        <div class="row-auto post-show-comment">
          <p><%= post.comment %></p>
        </div>

        <% if (currentUser && currentUser.username === user) { %>
          <div class="row-auto post-show-btn-row">
            <button
              type="button"
              class="header-btn"
              data-toggle="modal"
              data-target="#edit-post"
            >
              Edit
            </button>
            <button
              type="button"
              class="header-btn"
              data-toggle="modal"
              data-target="#delete-post"
            >
              Delete
            </button>
          </div>
        <% } %>
      </div>
    </div>
  </div>


  <% if (currentUser && currentUser.username === user) { %>
    <% include ./editPost %>
    <% include ./deletePost %>
  <% } %>
</div>

<% include ./partials/footer %>