<% include ./partials/header %>

<h1>Register page</h1>

<form action="/register" method="POST">
    Username:
    <input type="text" name="username">
    Password:
    <input type="text" name="password">
    <input type="submit" value="Register">
</form>

<% include ./partials/footer %>