@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
  font-family: 'Inter', sans-serif;
  height: 100%;
}

input, textarea {
  width: 100%;
}

.header-row {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.header-wrapper {
  text-align: center;
}

.header-btn {
  border: none;
  background-color: white;
  padding: 0 15px 0 15px;
  color: rgb(255, 84, 50);
}

.header-btn:hover {
  color: rgb(153, 153, 153);
  text-decoration: none;
}

.diary-grid-col {
  padding: 1rem;
  justify-content: center;
}

/* Required to align text and image properly on grid */
.diary-grid-wrapper {
  position: relative;
}

.diary-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.diary-grid-item-img {
  object-fit: cover;
  transition: 0.5s;
}

.diary-grid-item-img:hover {
  opacity: 0.7;
}

.diary-grid-item-noimg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 200, 200);
  color: white;
}

@media screen and (min-width: 768px) {
  .diary-grid-item-img, .diary-grid-item-noimg {
    width: 300px;
    height: 300px;
  }
  .diary-grid-item-name {
    width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .diary-grid-item-img, .diary-grid-item-noimg {
    width: 400px;
    height: 400px;
  }

  .diary-grid-item-name {
    width: 400px;
  }
}

@media screen and (max-width: 575px) {
  .diary-grid-item-img, .diary-grid-item-noimg {
    width: 300px;
    height: 300px;
  }

  .diary-grid-item-name {
    width: 300px;
  }
}

.post-grid {
  text-align: center;
}

/* Masonry on lg, xl breakpoint */
@media only screen and (min-width: 992px) {
  .post-grid {
    column-count: 3;
  }
}

/* Masonry on md breakpoint */
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .post-grid {
    column-count: 2;
  }
}


/* Masonry on sm breakpoint */
@media only screen and (max-width: 767px) and (min-width: 576px) {
  .post-grid {
    column-count: 1;
  }
}

/* Masonry on xs breakpoint */
@media only screen and (max-width: 575px) {
  .post-grid {
    column-count: 1;
  }
}

.post-grid-item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
}

.post-grid-item-wrapper {
  position: relative;
}

.post-grid-item-img {
  max-width: 100%;
  height: auto;
}

.post-grid-item-img:hover {
  opacity: 0.7;
}

.post-grid-item-name {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.side-arrow-wrapper {
  justify-content: center;
  align-items: center;
}

.bottom-arrow-wrapper {
  justify-content: space-between;
}

.arrow {
  color: rgb(255, 84, 50);
  display: none; 
}

.arrow:hover {
  color: #999999;
}

.post-show-center-col {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.post-show-img {
  margin-top: 1em;
}

@media screen and (min-width: 768px) {
  .post-show-img {
    max-width: 500px;
    max-height: 500px;
  }

  .post-show-body {
    max-width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .post-show-img {
    max-width: 400px;
    max-height: 400px;
  }

  .post-show-body {
    max-width: 400px;
  }
}

@media screen and (max-width: 575px) {
  .post-show-img {
    max-width: 400px;
    max-height: 400px;
  }

  .post-show-body {
    max-width: 400px;
  }
}

.post-show-title {
  padding: 1em 1em 0 1em;
  display: flex;
  justify-content: space-between;
}

.post-show-comment {
  padding: 10px;
}

.post-show-btn-row {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.modal-btn-close {
  background-color: #6c757d;
  color: white;
  opacity: 0.8;
}

.modal-btn-action {
  background-color: rgb(255, 84, 50);
  color: white;
  opacity: 0.8;
}

.modal-btn-action:hover, .modal-btn-close:hover {
  opacity: 1;
}

.login-container, .register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em;
}

.error-wrapper {
  text-align: center;
  padding: 2em;
}

.home-img {
  object-fit: cover;
  width: 100%;
}

.home-body {
  background-image: url(../images/background.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.8);
}

.jumbotron a:hover {
  color: white;
}

.alert {
  text-align: center;
}

.missing-input {
  border: 2px solid red;
}

.missing-input-msg {
  text-align: center;
  color: red;
  display: none;
}

.invalid-img {
  width: 300px;
  height: 300px;
}

input.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}

a.diary-grid-item-name {
  color: black;
}

.empty-page-text {
  text-align: center;
}